<section id="Hero">
  <div class="container">
    <div class="hero-content">
      <div class="hero-content-title">
        <h1 class="hero-headding">
          Welcome to our <span class="hero-accent">collection</span> of premium
          watches
        </h1>
        <p class="hero-text">
          Our watches are not just timepieces, but also an expression of your
          personality and lifestyle. From classic designs to modern ones, we
          have a watch to suit every taste and occasion.
        </p>
      </div>
      <div class="hero-content-list">
        <ul class="hero-list">
          <li class="hero-items">
            <img
              src="./images/Hero-girl-one.png"
              alt="Hero girl"
              width="60"
              height="60"
            />
          </li>
          <li class="hero-items">
            <img
              src="./images/Hero-boy.png"
              alt="Hero boy"
              width="60"
              height="60"
            />
          </li>
          <li class="hero-items">
            <img
              src="./images/Hero-girl-two.png"
              alt="Hero girl"
              width="60"
              height="60"
            />
          </li>
        </ul>
        <a href="" class="hero-link">Scroll down</a>
      </div>
    </div>
    <img
      src="./images/Hero.png"
      alt="clock"
      width="1150"
      height="500"
      class="hero-img"
    />
  </div>
</section>
