#Hero {
  padding-top: 80px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.hero-content-list {
}

.hero-content-title {
}

.hero-heading {
  font-weight: 600;
  font-size: 72px;
  line-height: 0.875;
  letter-spacing: -0.02em;
  color: #0c0c0c;
  max-width: 597px;
  margin-bottom: 20px;
}

.hero-accent {
  color: #3350e9;
}

.hero-text {
  line-height: 1.25;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
  max-width: 480px;
}

.hero-list {
  display: flex;
  margin-bottom: 189px;
}

.hero-items {
  margin-right: -16px;
}

.hero-link {
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
  margin-left: 44px;
}

.hero-link:hover,
.hero-link:focus {
  color: #3350e9;
}

.hero-img {
}
