body {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Gilroy', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  border: none;
  padding: 0;
}

img {
  display: block;
}

input,
textarea {
  margin: 0;
  padding: 0;
}
